name: Build DokkaGfm Documents

on:
  push:
  workflow_dispatch:

jobs:
  dokka-gfm:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Java JDK
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17
        cache: 'gradle'

    - name: Cache Kotlin/Native compiler
      id: cache-konan
      uses: actions/cache@v3
      with:
        path: ~/.konan
        key: ${{ runner.os }}-konan

    - name: Build DokkaGfm Documents
      run: ./gradlew dokkaGfm

    - name: Copy Documents
      run: rm -rf docs && cp -r mahjong-utils/build/dokka/gfm/ docs

    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Build DokkaGfm documents
